<!DOCTYPE html><html>  <head>    <title><%= title %></title>    <link rel='stylesheet' href='/stylesheets/style.css' />  </head>  <body>    <h1>Add Diagnosis</h1>    <p>You can now add diagnosis for patient #<%= user %>. Auth id: <%= txid %></p>
    <form>
        <input type=“textarea” name=“diagnosis”/>
        <button type=“submit”>Add</>
    </form>  </body></html>